* {
    font-family: sans-serif;
    margin: auto;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth;
    background-color: #1e2124;
}

/*
Navbar
*/
.Navbar {
    padding: 15px;
    background-color: #22252a;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

.Link {
    background-color: #22252a;
    text-align: left;
    margin: 0px 0px 0px 20px;
    color: #7289da;
    transition: background-color 1s;
}

.Link:hover {
    color: #4e5e9a;
}

#Home {
    color: #7289da;
    text-align: center;
    padding: 75px;
    padding-top: 25%;
}

h2 {
    text-align: center;
    margin: 80% 30px 30px 30px;
    padding: 3px;
    color: #7289da;
    margin-bottom: 20%;
}


@media screen and (max-width: 450px) and (max-height: 950px) {
    #Home {
        font-size: 50px;
        padding-top: 90%;
    }

    h2 {
        font-size: 30px;
        margin-top: 150%;
    }
}



@media screen and (max-width: 425px) and (max-height: 750px){
    #Home {
        padding-top: 80%;
    }
}
  

.Footer {
    text-align: center;
    color: #a2add6;
    padding: 6px;
    background-color: #1c1e21;
}
